{% extends "emn/base.html" %} 
{% load bootstrap3 %} 
{% load static %}

{% block pagecss %}

{% endblock pagecss %}

{% block title %} Listar Enfermedades {% endblock title %}
{% block content %}
        <div class="x_panel">
            <div class="x_title">
                <h2>Enfermedades</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href="{% url 'problems:create-problem' %}"><i class="fa fa-plus"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="table-problem">
                    <thead>
                        <th class="col-md-2">Condición</th>
                        <th class="col-md-2">Código</th>
                        <th class="col-md-2">Estado</th>                                              
                        <th class="col-md-2">Fechas</th>
                        <th class="col-md-2">Estatus</th>
                        <th class="col-md-2">Acciones</th>
                    </thead>
                    <tbody>
                        {% for problem in problems %}
                        <tr>
                            <td class="col-md-2">{{ problem.condition }}</td>
                            <td class="col-md-2">{{ problem.condition_code }}</td>
                            {% if  problem.private == True %}
                            <td class="col-md-2">Privado</td>                                                        
                            {% else %}
                            <td class="col-md-2">Compartido</td>
                            {% endif %}
                            <td class="col-md-2">
                                {% if problem.year_of_onset %}
                                {{ problem.year_of_onset }}
                                {% else %}
                                ____
                                {% endif %}
                                -
                                {% if problem.year_of_resolution %}
                                {{ problem.year_of_resolution }}
                                {% else %}
                                ____
                                {% endif %}
                            </td>
                            <td class="col-md-2">{{ problem.get_condition_status_display }}</td>
                            <td class="col-md-2">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Acciones
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="delete-object" data-target="#deleteModal" data-toggle="modal" data-url-delete="{% url 'problems:delete-problem' problem.pk %}">Eliminar</a></li>
                                        <li><a href="{% url 'problems:edit-problem' problem.pk %}">Editar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea eliminar permanentemente el elemento especificado? </p>
                <form method="POST" id="form-del" action="">
                {% csrf_token %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}

{% block pagejs %}
<script type="text/javascript"> 
    $(document).ready(function () {
        $(".delete-object").click( 
            function(){
                $(this).attr('data-url-delete');
                $('#form-del').attr('action', $(this).attr('data-url-delete'));
            }
        )
    });   
</script>
{% endblock pagejs %}