{% extends "emn/landing.html" %} 
{% load static %} 
{% load bootstrap3 %} 
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand topnav" href="#"><i class="fa fa-medkit"></i>
                    {% if TITLE %}
                        {{ TITLE }}             
                    {% else %}
                        EMI
                    {% endif %}
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#services">Servicios</a>
                    </li>
                    <li>
                        <a href="#contact">Contáctenos</a>
                   </li>
                   {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'users:auth_redirect' %}" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                            </a>
                        </li>
                        <li><a href="{% url 'users:auth_logout'%}"><i class="fa fa-sign-out"></i>Cerrar Sesión</a></li>
                   {% else %}

                   {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message" >
                        <h1>
                            <strong>
                                <i class="fa fa-medkit"></i>
                                {% if TITLE %}
                                    {{ TITLE }}             
                                {% else %}
                                    EMI
                                {% endif %}
                            </strong>
                        </h1>
                        <h3>Servicio de información de emergencia</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://gitlab.com/emn-group/emn-base/" class="btn btn-default btn-lg"><i class="fa fa-gitlab fa-fw"></i> <span class="network-name">Gitlab</span></a>                                
                            </li>
                           {% if user.username %}
                            <li>
                                <a href="{% url 'users:auth_redirect' %}" class="btn btn-default btn-lg"> <span class="network-name">Volver</span></a>                                
                            </li>
                           {% else %}
                                <li>
                                    <a href="{% url 'users:auth_redirect' %}" class="btn btn-default btn-lg"> <span class="network-name">Iniciar sesión</span></a>                                
                                </li>
                                <li>
                                    <a href="{% url 'users:auth_patient_create' %}" class="btn btn-default btn-lg"> <span class="network-name">Registrarse</span></a>
                                </li>
                           {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <a name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Aumente su seguridad</h2>
                    <p class="lead">Registre, comparta y autorice acceso a su información de emergencia</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static "/build/img/compartir-informacion.png" %}" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Multiplataforma</h2>
                    <p class="lead">Acceda a su información de emergencia desde sus dispositivos móviles</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static "/build/img/ehr.png" %}" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Esté preparado</h2>
                    <p class="lead">Lleve consigo su información de emergencia</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static "/build/img/diabetes.jpg" %}" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <a name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Contáctenos:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/victorottati" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/emn-group/emn-base/" class="btn btn-default btn-lg"><i class="fa fa-gitlab fa-fw"></i> <span class="network-name">Gitlab</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/victor-ottati" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#services">Servicios</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contáctenos</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Victor Eduardo Ottati Amiuny</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}