{% extends "emn/base.html" %}
{% load bootstrap3 %}

{% block title %} Insertar o Editar Familiar {% endblock title %}

{% block content %}
    
            <form id="relative" method="POST">
                {% csrf_token %}
                <h1>Familiares</h1>
                <div>
                    {% bootstrap_form form  %}
                </div>
                <div>
                    <button type="submit" class="btn btn-default">Guardar Cambios</button>
                </div>
                
                <div class="clearfix"></div>
            </form>

{% endblock content %}


{% block pagejs %}
<script>
    $( document ).ready(function() {
        $( document ).ready(function() {
            $("#id_phone_number").inputmask({mask: "{{ phone }}", removeMaskOnSubmit: true});
        })
    });
    $.validator.setDefaults({
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });

    $(document).ready(function() {
        jQuery.extend(jQuery.validator.messages, {
            required: "Este campo es obligatorio.",
            remote: "Por favor, rellena este campo.",
            email: "Por favor, escribe una dirección de correo válida",
            url: "Por favor, escribe una URL válida.",
            date: "Por favor, escribe una fecha válida.",
            dateISO: "Por favor, escribe una fecha (ISO) válida.",
            number: "Por favor, escribe un número entero válido.",
            digits: "Por favor, escribe sólo dígitos.",
            creditcard: "Por favor, escribe un número de tarjeta válido.",
            equalTo: "Por favor, escribe el mismo valor de nuevo.",
            accept: "Por favor, escribe un valor con una extensión aceptada.",
            maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
            minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
            rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
            range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
            max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
            min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
        });
    });



    $("#relative").validate({
    });
</script>
{% endblock pagejs %}