{% extends "emn/base.html" %} 
{% load bootstrap3 %} 
{% load static %}

{% block pagecss %}

{% endblock pagecss %}
{% block title %} Listar Patologías de orígen Familiar {% endblock title %}
{% block content %}
        <div class="x_panel">
            <div class="x_title">
                <h2>Familiares</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href="{% url 'familyhistory:create-relative' %}"><i class="fa fa-plus"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table-relative">
                        <thead>
                            <th class="col-md-3">Nombre y apellidos</th>
                            <th class="col-md-2">Relación</th>
                            <th class="col-md-3">Número de telefono</th>                                              
                            <th class="col-md-2">Estatus</th>
                            <th class="col-md-2">Acciones</th>
                        </thead>
                        <tbody>
                            {% for relative in relatives %}
                            <tr>
                                <td class="col-md-3">{{ relative.first_name }} {{ relative.last_name }}</td>
                                <td class="col-md-2">{{ relative.get_relation_display }}</td>
                                <td class="col-md-2">{{ relative.phone_number }}</td>
                                <td class="col-md-3">{{ relative.get_status_display }}</td>
                                <td class="col-md-2">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Acciones
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="delete-object" data-target="#deleteModal" data-toggle="modal" data-url-delete="{% url 'familyhistory:delete-relative' relative.pk %}">Eliminar</a></li>
                                            <li><a href="{% url 'familyhistory:edit-relative' relative.pk %}">Editar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Patologías de orígen Familiar</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href="{% url 'familyhistory:create-familyhistory' %}"><i class="fa fa-plus"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table-familyhistory">
                        <thead>
                            <th>Condición</th>
                            <th>Código</th>
                            <th>Estado</th>
                            <th>Pariente</th>                                              
                            <th>Edad</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            {% for familyhistory in family_history %}
                            <tr>
                                <td>{{ familyhistory.diagnosis }}</td>
                                <td>{{ familyhistory.diagnosis_code }}</td>
                                {% if  familyhistory.private == True %}
                                <td>Privado</td>                                                        
                                {% else %}
                                <td>Compartido</td>
                                {% endif %}
                                {% if familyhistory.relative %}
                                <td>{{ familyhistory.relative }}</td>
                                {% else %}
                                <td></td>
                                {% endif %}
                                <td>{{ familyhistory.age_at_onset }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Acciones
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="delete-object" data-target="#deleteModal" data-toggle="modal" data-url-delete="{% url 'familyhistory:delete-familyhistory' familyhistory.pk %}">Eliminar</a></li>
                                            <li><a href="{% url 'familyhistory:edit-familyhistory' familyhistory.pk %}">Editar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea eliminar permanentemente el elemento especificado? </p>
                <form method="POST" id="form-del" action="">
                {% csrf_token %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}

{% block pagejs %}
<script type="text/javascript"> 
    $(document).ready(function () {
        $(".delete-object").click( 
            function(){
                $(this).attr('data-url-delete');
                $('#form-del').attr('action', $(this).attr('data-url-delete'));
            }
        )
    });   
</script>
{% endblock pagejs %}