{% extends "emn/base.html" %}
{% load bootstrap3 %}

{% block title %} Insertar o Editar Contacto de emergencia {% endblock title %}

{% block content %}
    
            <form id="contact" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend><h1 class="center-tittle">Información del contacto de emergencia</h1></legend>
                    {% bootstrap_form form  %}
                    <div>
                        <button type="submit" class="btn btn-default">Guardar Cambios</button>
                    </div>
                
                </fieldset>
            
                
                <div class="clearfix"></div>
            </form>

{% endblock content %}


{% block pagestyles %}
<!-- Custom  Styles -->
    <style>
        .center-tittle {
            text-align: center;
            text-decoration: none;
        }
    </style>

{% endblock pagestyles %}

{% block pagejs %}
<script type="text/javascript">
$( document ).ready(function() {
    $("#id_contact_phone_number").inputmask({ mask: "{{ phone }}", clearMaskOnLostFocus: true, removeMaskOnSubmit: true});

     $.validator.setDefaults({
            highlight: function (element) { $(element).closest('.form-group').addClass('has-error'); }, unhighlight:
                function (element) { $(element).closest('.form-group').removeClass('has-error'); }, errorElement: 'span', errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else { error.insertAfter(element); }
            }
        });
    
    $("#contact").validate({
    });


    $.extend( $.validator.messages, {
        required: "Este campo es obligatorio.",
        remote: "Por favor, rellena este campo.",
        email: "Por favor, escribe una dirección de correo válida.",
        url: "Por favor, escribe una URL válida.",
        date: "Por favor, escribe una fecha válida.",
        dateISO: "Por favor, escribe una fecha (ISO) válida.",
        number: "Por favor, escribe un número válido.",
        digits: "Por favor, escribe sólo dígitos.",
        creditcard: "Por favor, escribe un número de tarjeta válido.",
        equalTo: "Por favor, escribe el mismo valor de nuevo.",
        extension: "Por favor, escribe un valor con una extensión aceptada.",
        maxlength: $.validator.format( "Por favor, no escribas más de {0} caracteres." ),
        minlength: $.validator.format( "Por favor, no escribas menos de {0} caracteres." ),
        rangelength: $.validator.format( "Por favor, escribe un valor entre {0} y {1} caracteres." ),
        range: $.validator.format( "Por favor, escribe un valor entre {0} y {1}." ),
        max: $.validator.format( "Por favor, escribe un valor menor o igual a {0}." ),
        min: $.validator.format( "Por favor, escribe un valor mayor o igual a {0}." ),
        nifES: "Por favor, escribe un NIF válido.",
        nieES: "Por favor, escribe un NIE válido.",
        cifES: "Por favor, escribe un CIF válido."
    } );
 })

</script>

{% endblock pagejs %}