{% extends "emn/base.html" %}
{% load bootstrap3 %}

{% block title %} Editar Datos Personales {% endblock title %}
{% block content %}
    
            <form id="demographics" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend><h2 class="center-tittle">Datos Personales</h2></legend> 
                    {% bootstrap_form_errors form %}               
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.last_name %}
                    {% bootstrap_field form.date_of_birth %}
                    {% bootstrap_field form.gender %}                    
                    {% bootstrap_field form.blood_type %}
                    {% bootstrap_field form.rhesus_factor %}
                    {% bootstrap_field form.identity_document %}
                    {% bootstrap_field form.nationality %}
                    {% bootstrap_field form.occupation %}
                    {% bootstrap_field form.home_address %}
                </fieldset>
                </br>
                <fieldset>
                    <legend><h2 class="center-tittle">Datos para Niños</h2></legend>                
                    {% bootstrap_field form.birth_certificate_number %}
                    {% bootstrap_field form.birth_certificate_folio_number %}
                    {% bootstrap_field form.birth_certificate_volume_number %}
                    {% bootstrap_field form.birth_certificate_book_number %}
                </fieldset>
                </br>           
                <div>
                    <button type="submit" class="btn btn-default">Guardar Cambios</button>
                </div>
                
            
              
                
                <div class="clearfix"></div>
            </form>

{% endblock content %}


{% block pagestyles %}
<!-- Custom  Styles -->
    <style>
        .center-tittle {
            text-align: center;
            text-decoration: none;
        }
    </style>

{% endblock pagestyles %}

{% block pagejs %}


<script type="text/javascript">

$( document ).ready(function() {
    $("#id_date_of_birth").inputmask({mask: "{{ date }}"});

    $("#id_phone_number").inputmask({mask: "{{ phone }}", removeMaskOnSubmit: true });

     $("#id_identity_document").inputmask("(f-999999999)|(p-aaaaaaaaaaaaaaaaaaa)|(g-99999999-9)", {
            definitions: {
                'f': {
                    "validator": "[e|v|E|V]",
                    "cardinality": 1, 'prevalidator': null, "casing": "upper"
                }, 'p': {
                    "validator": "[p|P]", "cardinality": 1, 'prevalidator':
                        null, "casing": "upper"
                }, 'g': { "validator": "[g|j|G|J]", "cardinality": 1, 'prevalidator': null, "casing": "upper" },
            },
            placeholder: '', clearMaskOnLostFocus: true,
        }); 
        
        $("#id_date_of_birth").datepicker({
            changeMonth: true, changeYear: true,
            yearRange: "c-150:c"
        });
})

$( document ).ready(function() {
    $.validator.setDefaults({
        highlight: function (element) { $(element).closest('.form-group').addClass('has-error'); }, unhighlight:
            function (element) { $(element).closest('.form-group').removeClass('has-error'); }, errorElement: 'span', errorClass: 'help-block',
        errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else { error.insertAfter(element); }
        }
    });
    $("#demographics").validate({
    });
    $.extend( $.validator.messages, {
        required: "Este campo es obligatorio.",
        remote: "Por favor, rellena este campo.",
        email: "Por favor, escribe una dirección de correo válida.",
        url: "Por favor, escribe una URL válida.",
        date: "Por favor, escribe una fecha válida.",
        dateISO: "Por favor, escribe una fecha (ISO) válida.",
        number: "Por favor, escribe un número válido.",
        digits: "Por favor, escribe sólo dígitos.",
        creditcard: "Por favor, escribe un número de tarjeta válido.",
        equalTo: "Por favor, escribe el mismo valor de nuevo.",
        extension: "Por favor, escribe un valor con una extensión aceptada.",
        maxlength: $.validator.format( "Por favor, no escribas más de {0} caracteres." ),
        minlength: $.validator.format( "Por favor, no escribas menos de {0} caracteres." ),
        rangelength: $.validator.format( "Por favor, escribe un valor entre {0} y {1} caracteres." ),
        range: $.validator.format( "Por favor, escribe un valor entre {0} y {1}." ),
        max: $.validator.format( "Por favor, escribe un valor menor o igual a {0}." ),
        min: $.validator.format( "Por favor, escribe un valor mayor o igual a {0}." ),
        nifES: "Por favor, escribe un NIF válido.",
        nieES: "Por favor, escribe un NIE válido.",
        cifES: "Por favor, escribe un CIF válido."
    } );
    
 })

</script>

{% endblock pagejs %}