{% extends "emn/pdf.html" %} 


{% block title %} Tarjeta de Emergencia {% endblock title %}
{% block content %}
<div id="outer">
    <div id="inner">
        <strong>
            <h3>Tarjeta de Emergencia</h3>
            <p> 
                Información disponible en:
                <font style="color:blue">{{ domain }} </font>
                <br>
                <br>
                Usuario:<font style="color:red"> {{ user.username }} </font>
                <br>
                Clave:<font style="color:red"> {{ patient.emergency_code }} </font>
                <br>         
            </p> 
        </strong>
        <div class="row">
            <font size="1">
                <span class="sign"> Yo (Nombre y Apellido): <span class="line"></span></span>
                <span class="sign">
                    posesor del Documento de Identificación <br>(Documento de Identificación): 
                    <span class = "line"></span>
                </span>
                <span class="completed-by">
                    Garantizo que la Información reflejada en el sistema y en 
                    la Tarjeta de Emergencia fue rellenada por mi persona
                </span>
                <span class="sign">Firma: <span class = "line"></span></span>  
            </font>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Paciente:</strong></td>
                    <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                </tr>
                <tr>
                    {% if patient.identity_document %}
                    <td><strong>Documento de Identificación</strong></td>
                    <td>{{ patient.identity_document }}</td>
                    {% else %}
                    <td><strong>Documento de Identificación</strong></td>
                    <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><strong>Fecha de nacimiento:</strong></td>
                    <td>{{ patient.date_of_birth|date:"d/m/Y"}}</td>
                </tr>
                <tr>
                    <td><strong>Sexo</strong></td>
                    <td>{{ patient.get_gender_display }}</td>
                </tr>
                {% if patient.blood_type %}
                <tr>
                    <td><strong>Tipo de sangre:</strong></td>
                    <td>{{ patient.get_blood_type_display }}</td>
                </tr>
                {% else %}
                {% endif %}
                {% if patient.rhesus_factor %}
                <tr>
                    <td><strong>Factor Rh:</strong></td>
                    <td>{{ patient.get_rhesus_factor_display }}</td>
                </tr>
                {% else %}
                {% endif %}
                {% if patient.nationality %}
                <tr>
                    <td><strong>Nacionalidad:</strong></td>
                    <td>{{ patient.get_nationality_display }}</td>
                </tr>
                {% else %} 
                {% endif %} 
                {% if patient.occupation %}
                <tr>
                    <td><strong>Ocupación:</strong></td>
                    <td>{{ patient.occupation }}</td>
                </tr>
                {% else %} 
                {% endif %} 
                {% if patient.home_address %}
                <tr>
                    <td><strong>Dirección:</strong></td>
                    <td>{{ patient.home_address }}</td>
                </tr>
                {% else %} 
                {% endif %} 
                {% if patient.phone_number %}
                <tr>
                    <td><strong>Número de teléfono:</strong></td>
                    <td>{{ patient.phone_number }}</td>
                </tr>
                {% else %} 
                {% endif %}
                {% if patient.birth_certificate_number %}
                <tr>
                    <td><strong>Número del Acta de Nacimiento :</strong></td>
                    <td>{{ patient.birth_certificate_number }}</td>
                </tr>
                {% else %}
                {% endif %}
                {% if patient.birth_certificate_folio_number %}
                <tr>
                    <td><strong>Número de Tomo del Acta de Nacimiento:</strong></td>
                    <td>{{ patient.birth_certificate_folio_number }}</td>
                </tr>
                {% else %}
                {% endif %}
                {% if patient.birth_certificate_volume_number %}
                <tr>
                    <td><strong>Número de Folio del Acta de Nacimiento:</strong></td>
                    <td>{{ patient.birth_certificate_volume_number }}</td>
                </tr>
                {% else %}
                {% endif %}
                {% if patient.birth_certificate_book_number %}
                <tr>
                    <td><strong>Número de Libro del Acta de Nacimiento:</strong></td>
                    <td>{{ patient.birth_certificate_book_number }}</td>
                </tr>
                {% else %}
                {% endif %}
            </tbody>
        </table>

        {% if patient.contact_phone_number or patient.contact_first_name or patient.contact_last_name %}
        <div class="row">
            <div class="">
                <h4> Contacto de Emergencia: </h4>
                <p>
                    <strong> Nombre: </strong> 
                    {% if patient.contact_first_name %} 
                    {{ patient.contact_first_name }} 
                    {% else %} 
                    {%endif %}
                    <strong>Apellido:</strong> 
                    {% if patient.contact_last_name %} 
                    {{ patient.contact_last_name }} 
                    {% else %} 
                    {% endif%}
                    <strong>Telefono:</strong>
                    {% if patient.contact_phone_number %} 
                    {{ patient.contact_phone_number }} 
                    {% else %}
                {% endif %}
                </p>
            </div>
        </div>
        {% endif %}
        
    </div>
    
</div>
{% endblock content %} 



{% block pagestyles %}
<style>
    ul {
        word-wrap: break-word;
        word-break: break-all;
        padding-left:0.15in;
    }
    table {
        word-wrap: break-word;
        word-break: break-all;
        table-layout: fixed;
        width: 3.65in;
    }
    
    #outer {
        position: relative;
        width: 3.75in;
        word-wrap: break-word;
        border-style: dotted;
    }
    #inner {
        padding: 0.1in;
    }

    /* signature & title part */
    .completed-by, .signature, .sign { float: left; }

    /* phone & date part */
    .sign > .line {
    display: inline-block;
    border-bottom: 1px solid #000;
    width: 175px; 
    }
</style>

{% endblock pagestyles %}