{% extends "emn/base.html" %} {% load bootstrap3 %} 


{% block title %} Perfil {% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Información Demográfica  <a href="{% url 'patients:edit-patient' %}"><i class="fa fa-edit"></i></a></h2>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class=" table basic">
                        <tbody>
                            <tr>
                                <td><strong>Paciente:</strong></td>
                                <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                            </tr>
                            <tr>
                                {% if patient.identity_document %}
                                    <td><strong>Documento de Identificación</strong></td>
                                    <td>{{ patient.identity_document }}</td>
                                {% else %}
                                    <td><strong>Documento de Identificación</strong></td>
                                    <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>{{ patient.date_of_birth }}</td>
                            </tr>
                            <tr>
                                <td><strong>Sexo</strong></td>
                                <td>{{ patient.get_gender_display }}</td>
                            </tr>
                            {% if patient.blood_type %}
                            <tr>
                                <td><strong>Tipo de sangre:</strong></td>
                                <td>{{ patient.get_blood_type_display }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.rhesus_factor %}
                            <tr>
                                <td><strong>Factor Rh:</strong></td>
                                <td>{{ patient.get_rhesus_factor_display }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.nationality %}
                            <tr>
                                <td><strong>Nacionalidad:</strong></td>
                                <td>{{ patient.get_nationality_display }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.occupation %}
                            <tr>
                                <td><strong>Ocupación:</strong></td>
                                <td>{{ patient.occupation }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.home_address %}
                            <tr>
                                <td><strong>Dirección de Habitación:</strong></td>
                                <td>{{ patient.home_address }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.phone_number %}
                            <tr>
                                <td><strong>Número de teléfono:</strong></td>
                                <td>{{ patient.phone_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.birth_certificate_number %}
                            <tr>
                                <td><strong>Número del Acta de Nacimiento :</strong></td>
                                <td>{{ patient.birth_certificate_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.birth_certificate_folio_number %}
                            <tr>
                                <td><strong>Número de Tomo del Acta de Nacimiento:</strong></td>
                                <td>{{ patient.birth_certificate_folio_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.birth_certificate_volume_number %}
                            <tr>
                                <td><strong>Número de Folio del Acta de Nacimiento:</strong></td>
                                <td>{{ patient.birth_certificate_volume_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.birth_certificate_book_number %}
                            <tr>
                                <td><strong>Número de Libro del Acta de Nacimiento:</strong></td>
                                <td>{{ patient.birth_certificate_book_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% if  patient.contact_phone_number or patient.contact_first_name or patient.contact_last_name %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3> Contacto de Emergencia: </h3>
            <br>
            <strong> Nombre: </strong>
            {% if patient.contact_first_name %}
                {{ patient.contact_first_name }}
            {% else %}
            {% endif %}
            <strong>Apellido:</strong> 
            {% if patient.contact_last_name %}
                {{ patient.contact_last_name }}         
            {% else %}
            {% endif %}
            <strong>Telefono:</strong>
            {% if patient.contact_phone_number %}
                {{ patient.contact_phone_number }}        
            {% else %}
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 block">
        <div class="x_panel">
            <div class="x_title">
                <h3>Enfermedades <a href="{% url 'problems:create-problem' %}"><i class="fa fa-plus"></i></a></h3>
                <ul class="nav navbar-right panel_toolbox">
                </ul>
            </div>
            <div class="x_content">
                <ul>
                    {% for problem in problems %} 
                        <li><a href="{% url 'problems:edit-problem' problem.pk %}">{{ problem.condition }}</a></li> 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 block">
        <div class="x_panel">
            <div class="x_title">
                <h3>Alertas y Alergias <a href="{% url 'alerts:create-alert' %}"><i class="fa fa-plus"></i></a></h3>
                <ul class="nav navbar-right panel_toolbox">
                </ul>
            </div>
            <div class="x_content">
                <ul>
                    {% for alert in alerts %}
                        <li><a href="{% url 'alerts:edit-alert' alert.pk %}">{{ alert.substance }}</a> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 block">
        <div class="x_panel">
            <div class="x_title">
                <h3>Medicamentos <a href="{% url 'medications:create-medication' %}"><i class="fa fa-plus"></i></a></h3>
                <ul class="nav navbar-right panel_toolbox">
                </ul>
            </div>
            <div class="x_content">
                <ul>
                    {% for medication in medications %} 
                        <li><a href="{% url 'medications:edit-medication' medication.pk %}">{{ medication.medication }}</a></li> 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 block">
        <div class="x_panel">
            <div class="x_title">
                <h3>Intervenciones Médicas <a href="{% url 'procedures:create-procedure' %}"><i class="fa fa-plus"></i></a></h3>
                <ul class="nav navbar-right panel_toolbox">
                   
                </ul>
            </div>
            <div class="x_content">
                <ul>
                    {% for procedure in procedures %} 
                        <li><a href="{% url 'procedures:edit-procedure' procedure.pk %}">{{ procedure.procedure }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 block">
        <div class="x_panel">
            <div class="x_title">
                <h3>Historia Familiar
                    {% if familyhistory %}
                        <a href="{% url 'familyhistory:create-familyhistory' %}"><i class="fa fa-plus"></i></a>
                    {% else %}
                    {% endif %}
                </h3>
                <ul class="nav navbar-right panel_toolbox">
                   
                </ul>
            </div>
            <div class="x_content">
                <ul>
                    {% for fm in familyhistory %} 
                        <li><a href="{% url 'familyhistory:edit-familyhistory' fm.pk %}">{{ fm.diagnosis }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

 {% block pagestyles %}
        <style>
        .x_content > ul {
            list-style-type: none;
            padding-left:0;
            word-wrap: break-word;
            word-break: break-all; 
            }
        table {
            word-wrap: break-word;
            word-break: break-all;
            table-layout: fixed;
        }
        </style>
      
{% endblock pagestyles %}