{% extends "emn/base.html" %}
{% load bootstrap3 %}

{% block title %} Nueva Clave de Emergencia {% endblock title %}
{% block content %}
    
    <form id="emergency-code" method="POST">
        {% csrf_token %}
        <h1>Clave de emergencias</h1>
        <h2>{{ patient.emergency_code }}</h2>
        
        <div>
            <button type="submit" class="btn btn-default">Generar nueva clave de emergencias</button>
        </div>
        
    </form>

{% endblock content %}


{% block pagestyles %}
<!-- Custom  Styles -->
    <style>
        .center-tittle {
            text-align: center;
            text-decoration: none;
        }
    </style>

{% endblock pagestyles %}