{% extends "emn/base.html" %}
{% load bootstrap3 %}

{% block title %} Insertar o Editar Intervenciones Médicas {% endblock title %}
{% block content %}
    
            <form id="procedures" method="POST">
                {% csrf_token %}
                <h1>Intervención Médica</h1>
                <div>
                    {% bootstrap_form form  %}
                </div>
                <div>
                    <button type="submit" class="btn btn-default">Guardar Cambios</button>
                </div>
                
                <div class="clearfix"></div>
            </form>

{% endblock content %}


{% block pagejs %}
<script>
    $( document ).ready(function() {
       $("#id_date").inputmask({mask: "{{ date }}",});
       $('#id_date').datepicker({ changeMonth: true, changeYear: true, yearRange: "c-150:c" });
    })
$.validator.setDefaults({
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },
    errorElement: 'span',
    errorClass: 'help-block',
    errorPlacement: function(error, element) {
        private = $("#id_private_0")
            if(element.contains(private)){
                error.insertBefore(element.parent());
                console.log(element)
            }
            else {
                console.log(element)
            
                if(element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
    }
});
    $("#procedures").validate({
    });
    $(document).ready(function() {
        jQuery.extend(jQuery.validator.messages, {
            required: "Este campo es obligatorio.",
            remote: "Por favor, rellena este campo.",
            email: "Por favor, escribe una dirección de correo válida",
            url: "Por favor, escribe una URL válida.",
            date: "Por favor, escribe una fecha válida.",
            dateISO: "Por favor, escribe una fecha (ISO) válida.",
            number: "Por favor, escribe un número entero válido.",
            digits: "Por favor, escribe sólo dígitos.",
            creditcard: "Por favor, escribe un número de tarjeta válido.",
            equalTo: "Por favor, escribe el mismo valor de nuevo.",
            accept: "Por favor, escribe un valor con una extensión aceptada.",
            maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
            minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
            rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
            range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
            max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
            min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
        });
    });
    $("#id_procedure").autocomplete({
        source: "{% url 'procedures:procedure' %}", autoFocus: true,
        minLength: 2,
        select: function( event, ui) {
            $("#id_procedure").val( ui.item.value );
            $("#id_procedure_code").val( ui.item.code );
            return false;
        },
        search: function() {
            $("#id_procedure_code").val('');            
        },
        changeL: function() {
            $("#id_procedure_code").val('');            
        },
    });
</script>

{% endblock pagejs %}