<footer>

    <div class="navbar navbar-default">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Victor Ottati A.
           <a href="{% url 'dashboard:landing' %}"> EMI - Emergencias</a>
      </p>
    </div>
</footer>