<!-- sidebar menu -->
<div id="navbar" class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" aria-expanded="false">
    <ul class="nav nav-sidebar">
        <li><a href="{% url 'patients:profile-patient' %}"><i class="fa fa-home"></i> Inicio </a></li>
        <li><a href="{% url 'problems:list-problem' %}">Enfermedades</a></li>
        <li><a href="{% url 'alerts:list-alert' %}">Alertas, Alergias y Reacciones adversas</a></li>
        <li><a href="{% url 'procedures:list-procedure' %}">Intervenciones Médicas</a></li>
        <li><a href="{% url 'medications:list-medication' %}">Medicamentos</a></li>
        <li><a href="{% url 'familyhistory:list-relative' %}">Antecedentes Familiares</a></li>
        <li><a href="{% url 'users:auth_patient_edit' %}"><i class="fa fa-user"></i> Editar Información de Usuario </a></li>
        <li><a href="{% url 'patients:edit-patient' %}"><i class="fa fa-info"></i> Editar Información Personal </a></li>
        <li><a href="{% url 'patients:contact' %}"><i class="fa fa-info"></i> Editar Contacto de emergencia </a></li>  
        <li><a href="{% url 'patients:emergency-code' %}"><i class="fa fa-user"></i> Clave de Emergencias </a></li>
        <li><a href="{% url 'patients:emergency-patient' %}"><i class="fa fa-user-md"></i> Perfil de Emergencias </a></li>   
        <li><a href="{% url 'patients:emergency-pdf' %}" target="_blank"><i class="fa fa-user-md"></i> Crear Tarjeta de Emergencias </a></li>
        <li><a href="{% url 'patients:emergency-pdf-mini' %}" target="_blank"><i class="fa fa-user-md"></i> Crear Tarjeta de Emergencias pequeña</a></li>             
        <li>      
            <a href="{% url 'users:auth_logout'%}" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Cerrar Sesión </a>
        </li>
    </ul>
</div>
<!-- /sidebar menu -->