<!-- sidebar menu -->
<div id="navbar" class="col-sm-3 col-md-2 sidebar navbar-collapse collapse" aria-expanded="false">
    <ul class="nav nav-sidebar">
        <li><a href="{% url 'personnel:emergency-search' %}"><i class="fa fa-search"></i> Buscar Paciente </a>
            </li>
        <li>
            <a href="{% url 'users:auth_logout'%}" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Cerrar Sesión </a>
        </li>
    </ul>
</div>
<!-- /sidebar menu -->