<div id="navbar" class="col-sm-3 col-md-2 visible-xs" aria-expanded="false">
    <ul class="nav sidebar" >
        <li><a href="{% url 'patients:profile-patient' %}"><i class="fa fa-home"></i> Inicio </a></li>
        <li>
            <a href="{% url 'users:auth_logout'%}" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Cerrar Sesion </a>
        </li>
    </ul>
</div>