<nav class="navbar  navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="sidebar" id="top-toggle">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            
            <a class="navbar-brand" href="{% url 'dashboard:landing' %}"> 
                <strong>
                    <i class="fa fa-medkit"></i>
                    {% if TITLE %}
                        {{ TITLE }}             
                    {% else %}
                        EMI
                    {% endif %}
                </strong>
            </a>
        </div>
        <div id="navbar-1" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'users:auth_redirect' %}">Perfil: {{ user.username }}</a></li>
                    <li><a href="{% url 'users:auth_logout'%}"><i class="fa fa-sign-out"></i>Cerrar Sesión</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>