{% extends "emn/plain.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %} Registrar Paciente {% endblock title %}

{% block content %}
        <section>
            <form  class="patient-create" method="POST">
                {% csrf_token %}
                <h1>Registrarse</h1>
                <fieldset>
                    <legend><h2 class="center-tittle">Datos de Usuario</h2></legend>
                    {% bootstrap_form_errors form %}
                    {% bootstrap_form_errors form_inline %}
                    {% bootstrap_field form.username show_help=False %}
                    {% bootstrap_field form.email show_help=False %}
                    {% bootstrap_field form.password1 show_help=False %}
                    {% bootstrap_field form.password2 show_help=False %}
                </fieldset>
                </br>
                <fieldset>
                    <legend><h2 class="center-tittle">Datos Personales</h2></legend>                
                    {% bootstrap_field form_inline.first_name %}
                    {% bootstrap_field form_inline.last_name %}
                    {% bootstrap_field form_inline.date_of_birth %}
                    {% bootstrap_field form_inline.gender %}                    
                    {% bootstrap_field form_inline.blood_type %}
                    {% bootstrap_field form_inline.rhesus_factor %}
                    {% bootstrap_field form_inline.identity_document %}
                    {% bootstrap_field form_inline.nationality %}
                    {% bootstrap_field form_inline.occupation %}
                    {% bootstrap_field form_inline.home_address %}
                </fieldset>
                </br>
                <fieldset>
                    <legend><h2 class="center-tittle">Datos para Niños</h2></legend>                
                    {% bootstrap_field form_inline.birth_certificate_number %}
                    {% bootstrap_field form_inline.birth_certificate_folio_number %}
                    {% bootstrap_field form_inline.birth_certificate_volume_number %}
                    {% bootstrap_field form_inline.birth_certificate_book_number %}
                </fieldset>
                </br>                
                <div>
                    <button type="submit" class="btn btn-default">Registrarse</button>
                </div>

                <div class="separator">
                    <p class="change_link">¿Ya está registrado?
                    <a href="{% url 'users:auth_redirect' %}" class="to_register"> Iniciar sesión</a>
                    </p>
                    
                    <div class="clearfix"></div>
                    <br>

                    <div class="no-decoration">
                        <h1>
                            <i class="glyphicon glyphicon-cloud"></i> 
                            {% if TITLE %}
                                {{ TITLE }}
                            {% else %}
                                EMI
                            {% endif %}
                        </h1>
                        <p>©2016</p>
                    </div>
                </div>
            </form>
        </section>
{% endblock content %}


{% block pagestyles %}
<!-- Custom  Styles -->
    <style>
        .center-tittle {
            text-align: center;
            text-decoration: none;
        }
    </style>

{% endblock pagestyles %}

{% block pagejs %}
<!-- Custom Scripts -->

<script>
    
    
    $( document ).ready(function() {
        
       $("#id_date_of_birth").inputmask({mask: "{{ date }}", clearMaskOnLostFocus: true});
   
       $("#id_phone_number").inputmask({mask: "{{ phone }}", removeMaskOnSubmit: true });

       $("#id_identity_document").inputmask("(f-999999999)|(p-aaaaaaaaaaaaaaaaaaa)|(g-99999999-9)", {
            definitions:{
                'f': { 
                    "validator": "[e|v|E|V]",
                    "cardinality": 1,
                    'prevalidator': null,
                    "casing":"upper"
                  },
                'p': { 
                    "validator": "[p|P]",
                    "cardinality": 1,
                    'prevalidator': null,
                    "casing":"upper"
                  },
                'g': { 
                    "validator": "[g|j|G|J]",
                    "cardinality": 1,
                    'prevalidator': null,
                    "casing":"upper"
                  },

            },
            placeholder: '',
            clearMaskOnLostFocus: true,
           });
       $("#id_date_of_birth").datepicker({ changeMonth: true, changeYear: true, yearRange: "c-150:c"});

    });

   
    

    $(document).ready(function() {
        $.validator.setDefaults({
            highlight: function (element) { $(element).closest('.form-group').addClass('has-error'); }, unhighlight:
                function (element) { $(element).closest('.form-group').removeClass('has-error'); }, errorElement: 'span', errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else { error.insertAfter(element); }
            }
        });
        jQuery.extend(jQuery.validator.messages, {
            required: "Este campo es obligatorio.",
            remote: "Por favor, rellena este campo.",
            email: "Por favor, escribe una dirección de correo válida",
            url: "Por favor, escribe una URL válida.",
            date: "Por favor, escribe una fecha válida.",
            dateISO: "Por favor, escribe una fecha (ISO) válida.",
            number: "Por favor, escribe un número entero válido.",
            digits: "Por favor, escribe sólo dígitos.",
            creditcard: "Por favor, escribe un número de tarjeta válido.",
            equalTo: "Por favor, escribe el mismo valor de nuevo.",
            accept: "Por favor, escribe un valor con una extensión aceptada.",
            maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
            minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
            rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
            range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
            max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
            min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
        });
        $(".patient-create").validate({});
    });
</script>

{% endblock pagejs %}
