{% extends "emn/plain.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %} Iniciar sesión {% endblock title %}
{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <section class="center">
            <form id="patient-login" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend><h1 style="text-align: center">Iniciar sesión</h1></legend>
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-default">Iniciar sesión</button>
                </fieldset>
                <a href="{% url 'users:password-reset' %}">¿Perdió su contraseña?</a>
                <p>¿Nuevo Registro?
                <a href="{% url 'users:auth_patient_create' %}"> Registrarse </a>
                </p>
        
                    <div class="center-tittle">
                        <a class="no-decoration" href="{% url 'dashboard:landing' %}" >
                            <h1>
                                <i class="glyphicon glyphicon-cloud"></i> 
                                {% if TITLE %}
                                    {{ TITLE }}
                                {% else %}
                                    EMI
                                {% endif %}
                            </h1>
                        </a>
                        <p>©2016</p>
                    </div>
            </form>
        </section>
    </div>
{% endblock content %}

{% block pagestyles %}
<!-- Custom  Styles -->
    <style>
        .center-tittle {
            text-align: center;
        }
        
    </style>

{% endblock pagestyles %}

{% block pagejs %}
<!-- Custom Scripts -->      
<script>
    $( document ).ready(function() {
        $.validator.setDefaults({
            highlight: function (element) { $(element).closest('.form-group').addClass('has-error'); }, unhighlight:
                function (element) { $(element).closest('.form-group').removeClass('has-error'); }, errorElement: 'span', errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else { error.insertAfter(element); }
            }
        });
        $("#patient-login").validate({
        });
        $.extend( $.validator.messages, {
            required: "Este campo es obligatorio.",
            remote: "Por favor, rellena este campo.",
            email: "Por favor, escribe una dirección de correo válida.",
            url: "Por favor, escribe una URL válida.",
            date: "Por favor, escribe una fecha válida.",
            dateISO: "Por favor, escribe una fecha (ISO) válida.",
            number: "Por favor, escribe un número válido.",
            digits: "Por favor, escribe sólo dígitos.",
            creditcard: "Por favor, escribe un número de tarjeta válido.",
            equalTo: "Por favor, escribe el mismo valor de nuevo.",
            extension: "Por favor, escribe un valor con una extensión aceptada.",
            maxlength: $.validator.format( "Por favor, no escribas más de {0} caracteres." ),
            minlength: $.validator.format( "Por favor, no escribas menos de {0} caracteres." ),
            rangelength: $.validator.format( "Por favor, escribe un valor entre {0} y {1} caracteres." ),
            range: $.validator.format( "Por favor, escribe un valor entre {0} y {1}." ),
            max: $.validator.format( "Por favor, escribe un valor menor o igual a {0}." ),
            min: $.validator.format( "Por favor, escribe un valor mayor o igual a {0}." ),
            nifES: "Por favor, escribe un NIF válido.",
            nieES: "Por favor, escribe un NIE válido.",
            cifES: "Por favor, escribe un CIF válido."
        } );
    })
    
</script>

{% endblock pagejs %}


