{% extends "emn/plain.html" %}
{% load bootstrap3 %}
{% load static %}


{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <section class="center">
          
            <h2> Restablecimiento de contraseña enviado</h2>

            <p> Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. <br> Debería recibirlas en breve.

            Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam. </p>
                    <div class="center-tittle">
                        <a href="{% url 'users:auth_redirect' %}" class=""> <span class="network-name">Iniciar sesión</span></a> 
                        <a class="no-decoration" href="{% url 'dashboard:landing' %}" >
                            <h1>
                                <i class="glyphicon glyphicon-cloud"></i> 
                                {% if TITLE %}
                                    {{ TITLE }}
                                {% else %}
                                    EMI
                                {% endif %}
                            </h1>
                        </a>
                        <p>©2016</p>
                    </div>

        </section>
    </div>
{% endblock content %}

{% block pagestyles %}
<!-- Custom  Styles -->
    <style>
        .center-tittle {
            text-align: center;
        }
        
    </style>

{% endblock pagestyles %}

{% block pagejs %}
<!-- Custom Scripts -->
<script src="{% static "/vendors/requirejs/require.js" %}"></script>        
<script>
    // Require.js Configurations

    require.config({
        paths: {
            jquery: '..{% static "/vendors/jquery/jquery" %}',
            jqueryvalidate: '..{% static "/vendors/jquery.validation/jquery.validate" %}'
        }
    })
    $(".form").validate({
        onfocusout: true,
        debug: true
    });
</script>

{% endblock pagejs %}


