{% extends "emn/plain.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %} Restablecimiento de contraseña {% endblock title %}
{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <section class="center">
            <form id="form" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend><h1 style="text-align: center">Restablecimiento de contraseña</h1></legend>
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-default">Restablecer </button>
                </fieldset>
                <p style="text-align: center">¿Nuevo Registro?
                <a href="{% url 'users:auth_patient_create' %}"> Registrarse </a>
                </p>
        
                    <div class="center-tittle">
                        <a class="no-decoration" href="{% url 'dashboard:landing' %}" >
                            <h1>
                                <i class="glyphicon glyphicon-cloud"></i> 
                                {% if TITLE %}
                                    {{ TITLE }}
                                {% else %}
                                    EMI
                                {% endif %}
                            </h1>
                        </a>
                        <p>©2016</p>
                    </div>
            </form>
        </section>
    </div>
{% endblock content %}

{% block pagestyles %}
<!-- Custom  Styles -->
    <style>
        .center-tittle {
            text-align: center;
        }
        
    </style>

{% endblock pagestyles %}

{% block pagejs %}
<!-- Custom Scripts -->
<script src="{% static "/vendors/requirejs/require.js" %}"></script>        
<script>
    // Require.js Configurations

    require.config({
        paths: {
            jquery: '..{% static "/vendors/jquery/jquery" %}',
            jqueryvalidate: '..{% static "/vendors/jquery.validation/jquery.validate" %}'
        }
    })
    $(".form").validate({
        onfocusout: true,
        debug: true
    });
</script>

{% endblock pagejs %}


