{% extends "emn/base.html" %}
{% load bootstrap3 %}


{% block content %}
    
            <form  method="POST">
                {% csrf_token %}
                <h1>Familiares</h1>
                <div>
                    {% bootstrap_form form  %}
                </div>
                <div>
                    <button type="submit" class="btn btn-default">Guardar Cambios</button>
                </div>
                
                <div class="clearfix"></div>
            </form>

{% endblock content %}


{% block pagejs %}
<script>
    $( document ).ready(function() {
        $("input#id_private").bootstrapSwitch(
            {
                offText: '<strong>Compartido</strong>',
                onText: '<strong>Privado</strong>',
                onColor: 'danger',
            }
        );
    });
</script>
{% endblock pagejs %}