{% extends "emn/base.html" %} 
{% load bootstrap3 %} 
{% load static %}

{% block pagecss %}

{% endblock pagecss %}

{% block title %} Listar Medicamentos {% endblock title %}

{% block content %}
        <div class="x_panel">
            <div class="x_title">
                <h2>Medicamentos</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href="{% url 'medications:create-medication' %}"><i class="fa fa-plus"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="table-medication">
                    <thead>
                        <th>Medicamento</th>
                        <th>Instrucciones</th>
                        <th>Estado</th>                                              
                        <th>Fecha</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        {% for medication in medications %}
                        <tr>
                            <td>{{ medication.medication }}</td>
                            <td>{{ medication.instructions }}</td>
                            {% if  medication.private == True %}
                            <td>Privado</td>                                                        
                            {% else %}
                            <td>Compartido</td>
                            {% endif %}
                            <td>{{ medication.start_date|date:"d/m/Y" }}</td>
                            <td>{{ medication.get_status_display }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Acciones
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="delete-object" data-target="#deleteModal" data-toggle="modal" data-url-delete="{% url 'medications:delete-medication' medication.pk %}">Eliminar</a></li>
                                        <li><a href="{% url 'medications:edit-medication' medication.pk %}">Editar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea eliminar permanentemente el elemento especificado? </p>
                <form method="POST" id="form-del" action="">
                {% csrf_token %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}

{% block pagejs %}
<script type="text/javascript"> 
    $(document).ready(function () {
        $(".delete-object").click( 
            function(){
                $(this).attr('data-url-delete');
                $('#form-del').attr('action', $(this).attr('data-url-delete'));
            }
        )
    });   
</script>
{% endblock pagejs %}