{% extends "emn/plain.html" %} {% load bootstrap3 %} 
{% block title %} Perfil de Emergencia del Paciente{% endblock title %}
{% block content %}
{% load filters_groups %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Información Demográfica</h2>
            </div>
            
            
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class=" table basic">
                        <tbody>
                            <tr>
                                <td><strong>Paciente:</strong></td>
                                <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                            </tr>
                            <tr>
                                {% if patient.identity_document %}
                                    <td><strong>Documento de Identificación</strong></td>
                                    <td>{{ patient.identity_document }}</td>
                                {% else %}
                                    <td><strong>Documento de Identificación</strong></td>
                                    <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>{{ patient.date_of_birth }}</td>
                            </tr>
                            <tr>
                                <td><strong>Sexo</strong></td>
                                <td>{{ patient.get_gender_display }}</td>
                            </tr>
                            {% if patient.nationality %}
                            <tr>
                                <td><strong>Nacionalidad:</strong></td>
                                <td>{{ patient.get_nationality_display }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.occupation %}
                            <tr>
                                <td><strong>Ocupación:</strong></td>
                                <td>{{ patient.occupation }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.home_address %}
                            <tr>
                                <td><strong>Dirección de Habitación:</strong></td>
                                <td>{{ patient.home_address }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.phone_number %}
                            <tr>
                                <td><strong>Número de teléfono:</strong></td>
                                <td>{{ patient.phone_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.birth_certificate_number %}
                            <tr>
                                <td><strong>Número del Acta de Nacimiento :</strong></td>
                                <td>{{ patient.birth_certificate_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.birth_certificate_folio_number %}
                            <tr>
                                <td><strong>Número de Tomo del Acta de Nacimiento:</strong></td>
                                <td>{{ patient.birth_certificate_folio_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.birth_certificate_volume_number %}
                            <tr>
                                <td><strong>Número de Folio del Acta de Nacimiento:</strong></td>
                                <td>{{ patient.birth_certificate_volume_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% if patient.birth_certificate_book_number %}
                            <tr>
                                <td><strong>Número de Libro del Acta de Nacimiento:</strong></td>
                                <td>{{ patient.birth_certificate_book_number }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
{% if  patient.contact_phone_number or patient.contact_first_name or patient.contact_last_name %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2> Contacto de Emergencia: </h2>
            <br>
            <strong> Nombre: </strong>
            {% if patient.contact_first_name %}
                {{ patient.contact_first_name }}
            {% else %}
            {% endif %}
            <strong>Apellido:</strong> 
            {% if patient.contact_last_name %}
                {{ patient.contact_last_name }}         
            {% else %}
            {% endif %}
            <strong>Telefono:</strong>
            {% if patient.contact_phone_number %}
                {{ patient.contact_phone_number }}        
            {% else %}
            {% endif %}
        </div>
    </div>
{% endif %}
</div>
<div class="row">
    {% if user|has_group:"medical-personnel" %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Enfermedades</h2>
            </div>
            <div class="x_content">
                <table class="table table-striped table-hover" id="table-problem">
                    <thead>
                        <th>Condición</th>
                        <th>Código</th>
                        <th>Fechas</th>
                        <th>Estatus</th>
                    </thead>
                    <tbody>
                        {% for problem in problems %}
                            {% if problem.private %}
                            
                            {% else %}
                                <tr>
                                    <td>{{ problem.condition }}</td>
                                    <td>{{ problem.condition_code }}</td>
                                    <td>
                                        {% if problem.year_of_onset %}
                                        {{ problem.year_of_onset }}
                                        {% else %}
                                        ____
                                        {% endif %}
                                        -
                                        {% if problem.year_of_resolution %}
                                        {{ problem.year_of_resolution }}
                                        {% else %}
                                        ____
                                        {% endif %}
                                    </td>
                                    <td>{{ problem.get_condition_status_display }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Alertas, Alergias y Reacciones adversas</h2>
            </div>
            <div class="x_content">
                <table class="table table-striped table-hover" id="table-alert">
                    <thead>
                        <th>Substancia</th>
                        <th>Código</th>
                        <th>Reacción</th>
                        <th>Estatus</th>
                    </thead>
                    <tbody>
                        {% for alert in alerts %}
                            {% if alert.private %}
                            
                            {% else %}
                            <tr>
                                <td>{{ alert.substance }}</td>
                                <td>{{ alert.substance_code }}</td>
                                <td>{{ alert.reaction }}</td>
                                <td>{{ alert.get_status_display }}</td>
                            </tr>
                            {% endif %}
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Medicamentos</h2>
            </div>
            <div class="x_content">
                <table class="table table-striped table-hover" id="table-medication">
                    <thead>
                        <th>Medicamento</th>
                        <th>Instrucciones</th>
                        <th>Fechas</th>
                        <th>Estatus</th>
                    </thead>
                    <tbody>
                        {% for medication in medications %}
                            {% if medication.private %}
                            
                            {% else %}
                            <tr>
                                <td>{{ medication.medication }}</td>
                                <td>{{ medication.instructions }}</td>
                                <td>{{ medication.start_date }}</td>
                                <td>{{ medication.get_status_display }}</td>
                            </tr>
                            {% endif %}
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Intervenciones Médicas</h2>
            </div>
            <div class="x_content">
                <table class="table table-striped table-hover" id="table-procedure">
                    <thead>
                        <th>Condición</th>
                        <th>Código</th>
                        <th>Fechas</th>
                    </thead>
                    <tbody> 
                        {% for procedure in procedures %}
                            {% if  procedure.private %}
                            
                            {% else %}
                            <tr>
                                <td>{{ procedure.procedure }}</td>
                                <td>{{ procedure.procedure_code }}</td>
                                <td>{{ procedure.date }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Patologias de orígen Familiar</h2>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table-familyhistory">
                        <thead>
                            <th>Condición</th>
                            <th>Código</th>
                            <th>Pariente</th>                                              
                            <th>Edad</th>
                        </thead>
                        <tbody>
                            {% for familyhistory in family_history %}
                                {% if familyhistory.private  %}
                                {% else %}
                                <tr>
                                    <td>{{ familyhistory.diagnosis }}</td>
                                    <td>{{ familyhistory.diagnosis_code }}</td>
                                    <td>{{ familyhistory.relative.get_relation_display }}</td>
                                    <td>{{ familyhistory.age_at_onset }}</td>
                                </tr>
                                {% endif %}
                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}