{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title> 
            {% if TITLE %}
                {{ TITLE }}             
            {% else %}
                EMI
            {% endif %}
        </title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
    {% endblock meta%}
    {% block styles %}
        <!-- styles -->
        <link href="{% static "/build/css/custom.css" %}" rel="stylesheet">
        <link href="{% static "/build/css/dashboard.css" %}" rel="stylesheet">
        <link href="{% static "/build/css/emi.css" %}" rel="stylesheet">                
        <!-- Custom  Styles -->
    {% endblock styles %}
          
    {% block topscripts %}
        <script src="{% static "/vendors/modernizr/modernizr.js"%}"></script>
    {% endblock topscripts %}

    {% block pagestyles %}
      
    {% endblock pagestyles %}
    </head>

<body>
    <!-- top navigation -->
    {% include "emn/partials/top-navigation.html"%}
    <!-- /top navigation -->
    <div class="container-fluid">
        <div class="row">
            <!-- Left sidebar -->
            {% include "emn/partials/left-sidebar-per.html"%}
            <!-- /Left sidebar -->
            <!-- page content -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content %}
                
                {% endblock content %}
                    
            </div>
            <!-- /page content -->
        </div>
        <div class="row">
            <!-- footer content -->
            {% comment %}{% include "emn/partials/footer.html"%}{% endcomment %}
            <!-- /footer content -->
        </div>
    </div>
    
        
    {% block js %}
        <script type="text/javascript" src="{% static "/vendors/lodash/lodash.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/jquery/jquery.js" %}"></script> 
        <script type="text/javascript" src="{% static "/vendors/backbone/backbone.js" %}"></script> 
        <script type="text/javascript" src="{% static "/vendors/bootstrap/3.3.1/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/jpanelmenu/jquery.jpanelmenu.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/jqueryui/ui/jquery-ui.js" %}"></script>       
        <script type="text/javascript" src="{% static "/vendors/respond/respond.src.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/maskedInput/3.1.3/js/jasny-bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/jquery.validation/jquery.validate.min.js" %}"></script>

        
        

        
    {% endblock js %}
    
    {% block pagejs %}
    <!-- Custom Scripts -->
    {% endblock pagejs %}

</body>
</html>