{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    {% block meta %}
        <meta content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title> 
            {% if TITLE %}
                {{ TITLE }}-{% block title %} {% endblock title %}           
            {% else %}
                EMI
            {% endif %}
        </title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
    {% endblock meta%}
    {% block styles %}
        <!-- styles -->
        <link href="{% static "/build/css/custom.css" %}" rel="stylesheet">
        <link href="{% static "/build/css/dashboard.css" %}" rel="stylesheet">
        <link href="{% static "/build/css/emi.css" %}" rel="stylesheet">
        <link href="{% static "/vendors/datepicker/v6/css/datepicker.css" %}" rel="stylesheet">            
        <!-- Custom  Styles -->
    {% endblock styles %}
          
    {% block topscripts %}
        <script src="{% static "/vendors/modernizr/modernizr.js"%}"></script>
    {% endblock topscripts %}

    {% block pagestyles %}
        <style>
            .messages {
                position: fixed;
                z-index: 1051;
            }
            @media screen and (min-width: 480px) {
                .messages {
                    width:60%;
                }
            }
            @media screen and (max-width: 480px) {
                .messages {
                    width:70%;
                }
            }
            .alert {
                opacity:0.9;
            }
            
           
            .hyphens {
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
            @media screen and (max-width: 767px){ 
                .table-responsive>.table {
                    table-layout: auto;
                }
            }
            table {
                word-wrap: break-word;
                word-break: break-all;
                table-layout: fixed;
            }
        </style>
      
    {% endblock pagestyles %}
    </head>

<body>
    <!-- top navigation -->
    {% include "emn/partials/top-navigation.html"%}
    <!-- /top navigation -->
    <div class="container-fluid">
        <div class="row">
            <!-- Left sidebar -->
            {% include "emn/partials/left-sidebar.html"%}
            <!-- /Left sidebar -->
            <!-- page content -->
            <div class="col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3 main">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissable dismiss">
                                {{ message }} <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}
                
                {% endblock content %}
                    
            </div>
            <!-- /page content -->
        </div>
        <div class="row">
            <!-- footer content -->
            {% comment %}{% include "emn/partials/footer.html"%}{% endcomment %}
            <!-- /footer content -->
        </div>
    </div>
    
        
    {% block js %}
        <script type="text/javascript" src="{% static "/vendors/lodash/lodash.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/jquery/jquery.js" %}"></script>        
        <script type="text/javascript" src="{% static "/vendors/backbone/backbone.js" %}"></script> 
        <script type="text/javascript" src="{% static "/vendors/bootstrap/3.3.1/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/jpanelmenu/jquery.jpanelmenu.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/jqueryui/ui/jquery-ui.js" %}"></script>       
        <script type="text/javascript" src="{% static "/vendors/respond/respond.src.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/jquery.validation/jquery.validate.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/globalassets/scripts/assets.core.js" %}"></script> 
        <script type="text/javascript" src="{% static "/vendors/datepicker/v6/js/datepicker.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/jquery-ui-1.12.1.custom/i18n/datepicker-es.js" %}"></script>
        <script type="text/javascript" src="{% static "/vendors/inputmask/jquery.inputmask.bundle.js" %}"></script>                  

        <script type="text/javascript">
            
            $('#top-toggle').click(function () {
                
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
            });
            $(".dismiss").fadeTo(2000, 500).slideUp(500, function(){
                $(".dismiss").alert('close');
            });
        </script>
        

        
        

        
    {% endblock js %}
    {% block pagejs %}
    <!-- Custom Scripts -->
    {% endblock pagejs %}

</body>
</html>