{% load static %}

<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>
                {% if TITLE %}
                    {{ TITLE }}             
                {% else %}
                    EMI
                {% endif %}
            </title>
        {% endblock meta%}
        {% block styles %}
            <!-- Bootstrap -->
            <link href=" {% static "/vendors/bootstrap/3.3.1/css/bootstrap.min.css" %}" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="{% static "/vendors/font-awesome-4.7.0/css/font-awesome.css" %}" rel="stylesheet">
            <!-- Animate.css -->
            <link href="{% static "/vendors/animate.css/animate.min.css" %}" rel="stylesheet">
            <!-- Custom Theme Style -->
            <link href="{% static "/build/css/landing-page.css" %}" rel="stylesheet">
        {% endblock styles %}
        {% block pagestyles %}
            <!-- Custom  Styles -->
        {% endblock pagestyles %}
    </head>

    <body class="landing-page">
        {% block content %}

        {% endblock content %}
        {% block pagejs %}
            <!-- Custom Scripts -->
        {% endblock pagejs %}
    </body>
</html>