{% load static %}

<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>
                {% if TITLE %}
                    {{ TITLE }}             
                {% else %}
                    EMI
                {% endif %}
            </title>
        {% endblock meta%}
        {% block styles %}
            
        {% endblock styles %}
        {% block pagestyles %}
            <!-- Custom  Styles -->
        {% endblock pagestyles %}
    </head>

    <body>
        
            {% block content %}

            {% endblock content %}
        {% block js %}
        <script type="text/javascript" src="{% static "/vendors/jquery/jquery.js" %}"></script>
        {% endblock js%}
        {% block pagejs %}
            <!-- Custom Scripts -->
        {% endblock pagejs %}
    </body>
</html>