{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>
                {% if TITLE %}
                    {{ TITLE }}-{% block title %} {% endblock title %}       
                {% else %}
                    EMI
                    
                {% endif %}
            </title>
        {% endblock meta%}
        {% block styles %}
            
            <!-- Animate.css -->
            <link href="{% static "/vendors/animate.css/animate.min.css" %}" rel="stylesheet">
            <!-- Custom Theme Style -->
            <link href="{% static "/build/css/custom.css" %}" rel="stylesheet">
            <link href="{% static "/build/css/emi.css" %}" rel="stylesheet">
            <style>
                table {
                        word-wrap: break-word;
                        word-break: break-all;
                        table-layout: fixed;
                    }
            </style>
            
        {% endblock styles %}
        {% block pagestyles %}
            <!-- Custom  Styles -->
        {% endblock pagestyles %}
    </head>

    <body class="login">
        {% include "emn/partials/top-navigation.html"%}
        <div class="container" style="padding-top: 5rem">           
            {% block content %}

            {% endblock content %}
        </div>
        {% block js %}
            <script type="text/javascript" src="{% static "/vendors/jquery/jquery.js" %}"></script>
            <script type="text/javascript" src="{% static "/vendors/inputmask/jquery.inputmask.bundle.js" %}"></script>
            <script type="text/javascript" src="{% static "/vendors/jquery.validation/jquery.validate.min.js" %}"></script>
            <script type="text/javascript" src="{% static "/vendors/jquery-ui-1.12.1.custom/jquery-ui.js" %}"></script>
            <script type="text/javascript" src="{% static "/vendors/jquery-ui-1.12.1.custom/i18n/datepicker-es.js" %}"></script> 
            <script type="text/javascript">
                $('#top-toggle').click(function () {

                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                });
                $(".dismiss").fadeTo(2000, 500).slideUp(500, function () {
                    $(".dismiss").alert('close');
                });
            </script>           
        {% endblock js%}
        {% block pagejs %}
            <!-- Custom Scripts -->
        {% endblock pagejs %}
    </body>
</html>